<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-toggle>
          <ion-button>
            <ion-icon slot="icon-only" name="menu"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="navCtrl.back()">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
      <ion-title>Hoy</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">

      <div class="container">

        <div *ngFor="let p of progress" class="circle">
          <svg>
            <circle cx="50" cy="50" r="40"></circle>
            <circle cx="50" cy="50" r="40" class="progress" [style.stroke]="p.color"
            [style.strokeDashoffset]="calcOffset(p.value)"></circle>
          </svg>
          <div class="categoria">
            <span class="category">{{ p.category }}</span>
          </div>
          <div class="percentage">
            <span class="number">{{ p.value * 100 }}%</span>
          </div>
        </div>
    
      </div>
      <ion-list>
        <ion-item *ngFor="let activity of activities; let i = index"  lines="full">
          <ion-note slot="start">{{activity.fecha}}</ion-note>
          <ion-label [ngStyle]="{'color': activity.color}" (click)="irADetalles(activity.id)">{{activity.descripcion}}</ion-label>
          <ion-toggle slot="end" [(ngModel)]="activity.done" (ionChange)="actualizarActividad(activity)"></ion-toggle>
        </ion-item>
      </ion-list>
  </ion-content>
</div>
